h2 {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#eeeeee;
	color:#7bc143;
}
a{
	text-decoration: none;
	color:inherit;
}

#title-link{
	color:#0000EE;
	text-decoration: underline;
}

#all{
	max-width: 930px;
	margin-left: auto;
	margin-right: auto;
}

#editor-buttons{
	background: #57068c;
	padding: 5px;
	margin-right: 20px;
	border-radius: 10px;
	display: inline-block;
}

#editor-buttons li{
	margin: 10px;
	list-style-type: none;
}

#editor-buttons .active a, #editor-buttons li:hover > a {
  background: #9E0BFF;
  color: #FFFFFF;
}

#editor-buttons a{
	color: white;
	text-decoration:none;
}

#menu-bar,#main{
	display:inline-block;
	position:relative;
	float:left;
}

#menu-bar{
	width:20%;
}

#main{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	max-width:800px;
	width:70%;
}

.header,.section{
	width:100%;
	max-width:764px;
}

.header{
	padding:15px 0px 15px 0px;
	background-color:#57068c;
}

.headr-img{
	padding-left:15px;
}

.section{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding:15px 0px 15px 0px;
	font-size:12px;
	line-height:150%;
	display: inline-block;
}

#delete-section{
	float: right;
	height: 18px;
	max-width: 764px;
	width: 100%;
	margin-top: -45px;
}

#delete{
	float: right;
}

#editor{
	padding-bottom: 5px;
}

#visibleEditor{
	width: 100%;
	max-width: 800px;
	display: inline-block;
	
}

#box{
	border: 2px dashed #7bc143;
	border-radius: 10px;
	padding-bottom:60px;
}

#editor-header{
	color:#7bc143;
	height: 10px;
	margin-left: 30px;
	border:none;
}

.form{
	display:block;
	padding: 5px;
	max-width: 760px;
	width: 100%;
	margin-left: 30px
}

.input,.label {
	display:inline-block;
	position:relative;
}

.label,#descr-label{
	width:15%;
	color: #9E0BFF;
	height: 10px;
}

.input{
	width:70%;
}


input[type=text],
input[type=url] {
    width: 100%;
	height: 30px;
	padding: 5px 10px;
	background-color: rgb(215, 215, 215);
    line-height: 20px;
    font-size: 12px;
    color: rgb(136, 136, 136);
    border-radius: 2px 2px 2px 2px;
    border: 1px solid rgb(114, 114, 114);
	box-shadow: 0 1px 0 rgba(24, 24, 24,0.1);
    -webkit-box-sizing : border-box;‌
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
 	background:rgb(242, 242, 242);!important;
}

textarea{
	width:100%;
}

#descr-label{
	top:0;
	float:left;
	
}

.descr{
	padding-bottom: 60px;
}

#add{
	float:right;
	margin-right: 10%; 
	color: white;
	position: relative;
	background-color: #9E0BFF;
	padding: 2px;
	border-radius: 5px;
	font: bold 15px'Helvetica Neue',Helvetica,Arial,sans-serif;
	display: block;
	border: 3px;
	height: 40px;
	width: 60px;
}



.title{
	width: 100%;
	display: inline-block;
}


#title,.edit-url{
	display:inline-block;
	position:relative;
}

#title{
	width:70%;
}

.edit-url{
	float: right;
	width:30%;
	height: 18px;
	padding: 14.040px 0px 14.040px 0px;
}


p{
	display: block;
}
#publisher{
	margin:0;
	font-weight:bold;
}

#descr{
	margin-top:0.5em;
}

textarea #descr{
	width:100%;
}

.json{
	padding-bottom: 20px;
	position: relative;

}

#json{
	max-width: 800px;
	width: 100%;

}

#all{
	margin-left:auto;
	margin-right:auto;
	width:90%;
}
