<!DOCTYPE html>
<html ng-app="newsApp">

<head>
	<title>Newsletter</title>
	<!-- stylesheet -->
	<link href="css/news.css" rel="stylesheet">
	<link href="css/xeditable.css" rel="stylesheet">
	<link href="css/ng-ckeditor.css" rel="stylesheet">
	<!-- Javascript -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<!-- Jquery -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script src="js/jquery.min.js"></script>
	<script src="js/newsletter.js"></script>
	<script src="ckeditor/ckeditor.js"></script>
	<script src="js/xeditable.min.js"></script>
	<script src="js/ng-ckeditor.min.js"></script>
</head>

<body ng-controller="newsController">
	<div id="all">
		<!-- Menu Bar -->
		<div id="menu-bar">
			<ul id="editor-buttons">
				<li id="add-section"><a href=# id="add-section" ng-click="addSection()">Add Section</a></li>
				<li><a href=# id="copy" onclick="selectText('main')">Select All</a></li>
				<li><a href=# id="export" ng-click="sendJSON()">Send JSON to Server</a><input ng-model="news.save"></li>
			</ul>
		</div>
	
		<div id="main">
			
			<div class="header">
				<img src="https://ci4.googleusercontent.com/proxy/J5H7s6ByCuKyEi34upkJjSoIC-5-76F4p9JMauXj1ttM73u1X0cECHTls1GpGiqEixhRW8iQ7YsPLhEjGU8Dz5Jiyw7aDtGTHJSm5ZdPcEoybuXTQ6iUoWkF2yw6Qd8eYsRbTQKKPxHabdLU=s0-d-e1-ft#http://research.poly.edu/~emailmarket/admin/temp/templates/20/nyu_engineering_logo.png" width="223" height="30" alt="nyu_engineering_logo.png" title="nyu_engineering_logo.png" class="headr-img">
			</div>
			
			<!--Sections-->
			<div class = "section" ng-repeat="section in news.sections">
				<h2  editable-text="section.title"><a onaftersave="update()" id="section">{{section.title}}</a></h2>
				<div ng-mouseenter="showUrl=true" ng-mouseleave="showUrl=false" id="delete-section">
					<div ng-show="showUrl"  id="delete">
						<button type="submit" ng-click="deleteSection($index)"> Delete </button>
					</div>
				</div>
				
				<!-- Articles-->
				<div class = "article" ng-repeat="article in section.articles">
					<div class="title">
						<h3 editable-text="article.title" id="title" ><a target="_blank" ng-href="{{article.link}}" onaftersave="update()" id="title-link">{{article.title}}</a></h3>
						<div ng-mouseenter="showButtons=true" ng-mouseleave="showButtons=false" class="edit-url">
							<div ng-show="showButtons"  id="edit-url">
								<span editable-text="article.link" e-form="textBtnForm" ><a onaftersave="update()"></a></span>
								<button ng-click="textBtnForm.$show()">Edit Url </button>
								<button type="submit" ng-click="deleteArticle($parent.$index,$index)"> Delete </button>
							</div>
						</div>
					</div>
					<p id="publisher" editable-text="article.publisher" ><a onaftersave="update()">{{article.publisher}}</a></p>
					<p id="orig_title" editable-text="article.orig_title"><a onaftersave="update()"><i>{{article.orig_title}}</i></a></p>
					<a onaftersave="update()"><p id="descr" ng-model="article.description" ckeditor="editorOptions">{{article.description}}</p></a>
				</div>
				
				<!-- Adding an Article -->
				<div ng-mouseenter="showEditor=true" ng-mouseleave="showEditor=false" id="editor">
				    <div id="visibleEditor" ng-show="showEditor">
				    	<div id="box">
							<h2 id="editor-header">Add article </h2>
							<div>
								<form role="form" ng-submit="addArticle($index)">
									<div class="form">
										<label for="articleName" class="label"><h3>Article Name </h3></label>
										<div class="input">
											<input type="text" ng-model="section.articles.temp.title" placeholder="Faculty News">
										</div>
									</div>
									<div class="form">
										<label for="articleLink" class="label"><h3> Article Link </h3></label>
										<div class="input">
											<input type="url"ng-model="section.articles.temp.link" placeholder="http://engineering.nyu.edu">
										</div>
									</div>
									<div class="form">
										<label for="articlePub" class="label"><h3> Publisher </h3> </label>
										<div class="input">
											<input type="text"ng-model="section.articles.temp.publisher" placeholder="NYU">
										</div>
									</div>
									<div class="form">
										<label for="articleOrgTitle" class="label"><h3> Original Title </h3></label>
										<div class="input" class="label">
											<input type="text"ng-model="section.articles.temp.orig_title" placeholder="Top 5">
										</div>
									</div>
									<div class="form">
										<div id="descr-label">
											<label for="articleDescr" class="label"><h3> Description </h3></label>
										</div>
										<div class="input" class="descr">
											<textarea ckeditor="editorOptions" ng-model="section.articles.temp.description" id="add-editor"> We are number 1! </textarea>
										</div>
									</div>
									<div>
										<div>
											<button type="submit" id="add" onaftersave="update()">Add</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			
		</div>
	</div>
</body>
</html>