<!DOCTYPE html>
<html ng-app="newsApp">

<head>
	<title>Newsletter</title>
	<!-- stylesheet -->
	<link href="css/news.css" rel="stylesheet">
	<link href="css/xeditable.css" rel="stylesheet">
	<!-- Javascript -->
	<!--<script src="angular/angular.js"></script>
	<script src="angular/angular.min.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- controllers -->
	<script src="js/newsletter.js"></script>
	<script src="js/xeditable.min.js"></script>
</head>

<body ng-controller="newsController">
	<!-- Menu Bar -->
	<div id="all">
		<div id="menu-bar">
			<ul id="convenient-buttons">
				<li id="add-section"><a href=# id="add-section" ng-click="addSection()">Add Section</a></li>
				<li><a href=# id="copy" onclick="selectText('main')">Select All</a></li>
				<!-- <li><a href=# id="export" >Send to Server</a></li> -->
			</ul>
		</div>
	
		<div id="main">
			<div class="header">
				<img src="https://ci4.googleusercontent.com/proxy/J5H7s6ByCuKyEi34upkJjSoIC-5-76F4p9JMauXj1ttM73u1X0cECHTls1GpGiqEixhRW8iQ7YsPLhEjGU8Dz5Jiyw7aDtGTHJSm5ZdPcEoybuXTQ6iUoWkF2yw6Qd8eYsRbTQKKPxHabdLU=s0-d-e1-ft#http://research.poly.edu/~emailmarket/admin/temp/templates/20/nyu_engineering_logo.png" width="223" height="30" alt="nyu_engineering_logo.png" title="nyu_engineering_logo.png" class="headr-img">
			</div>
			<div class = "section" ng-repeat="section in news.sections">
				<h2 id="section" editable-text="section.title">{{section.title}}</h2>
				<div class = "article" ng-repeat="article in section.articles">
					<h3 id="title" editable-text="article.title"><a target="_blank" href="{{article.link}}">{{article.title}}</a></h3>
					<p id="publisher" editable-text="article.publisher">{{article.publisher}}</p>
					<p id="orig_title" editable-text="article.orig_title">{{article.orig_title}}</p>
					<p id="descr" ng-bind-html="article.description" editable-textarea="article.description">{{article.description}}</p>
				</div>
				<div ng-mouseenter="showEditor=true" ng-mouseleave="showEditor=false" class="editor">
				    <div id="visibleEditor" ng-show="showEditor" >
				    	<div>
							<h3>Add article</h3>
							<div>
								<form role="form" ng-submit="addArticle($index)">
									<div class="form">
										<label for="articleName" class="label">Article Name</label>
										<div class="input">
											<input type="text" ng-model="section.articles.temp.title" placeholder="Faculty News">
										</div>
									</div>
									<div class="form">
										<label for="articleLink" class="label"> Article Link</label>
										<div class="input">
											<input type="url"ng-model="section.articles.temp.link" placeholder="http://engineering.nyu.edu">
										</div>
									</div>
									<div class="form">
										<label for="articlePub" class="label"> Publisher </label>
										<div class="input">
											<input type="text"ng-model="section.articles.temp.publisher" placeholder="NYU">
										</div>
									</div>
									<div class="form">
										<label for="articleOrgTitle" class="label"> Original Title</label>
										<div class="input" class="label">
											<input type="text"ng-model="section.articles.temp.orig_title" placeholder="Top 5">
										</div>
									</div>
									<div class="form">
										<label for="articleDescr" class="label"> Description</label>
										<div class="input">
											<textarea rows="10" type="text" ng-model="section.articles.temp.description" > We are number 1! </textarea>
										</div>
									</div>
									<div>
										<div>
											<button type="submit">Add</button>
										</div>
									</div>
								</form>
							</div>
						</div>
				    </div>
				</div>
			</div>
		</div>
		<div id="json">
			<p>{{news || json}}</p>
		</div>
	</div>

</body>
</html>